@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1-size: clamp(2.5rem, 6vw, 4rem);
  --h2-size: clamp(2rem, 5vw, 3rem);
  --h3-size: clamp(1.75rem, 4vw, 2.5rem);
  --h4-size: clamp(1.5rem, 3vw, 2rem);
  --h5-size: clamp(1.25rem, 2.5vw, 1.5rem);
}

h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h4 { font-size: var(--h4-size); }
h5 { font-size: var(--h5-size); }


.test {
  background-color: #0000a300;
}

